* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    margin: 0px;
    background: #f4f4f4;
    color: #333;
    height:100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.intro{
    background: white;
padding: 20px;
margin: 15px 0;
border-radius: 8px;
}
/* Logo block */
/* .logo { */
    /* display: flex; */
    /* flex-direction: column; */
/* } */

/* Name */
.logo h1 {
    font-size: 28px;
    color: white;
    margin-bottom: 6px;
}


/* Degree text */
.logo p {
    font-size: 14px;
    color: #dddddd;
    letter-spacing: 1px;
}

/* Header */
header {
    background: #111;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 20px 40px;
}

nav a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
    font-size:16px;
}

/* Home */
.home {
    text-align: center;
    padding: 100px 20px;
}

/* About */
/* ===== ABOUT PAGE (SIMPLE STYLE) ===== */
.about {
    max-width: 1100px;
    margin: 0px ;  /*  "auto" -center the whole section properly */
    padding: 40px 20px;  /* reduce side padding */
    display: flex;
    gap: 20px;
    align-items: flex-start;
    justify-content: center;
}

/* Photo */
.about img {
    width: 300px;
    border-radius: 10px;
    border: 2px solid #ddd;
    flex-shrink: 0;   /* prevents image shrinking */
}

/* Text Content */
.about-text {
    flex: 1;
}

.about-text h2 {
    margin-bottom: 10px;
    color: #333;
}

.about-text p {
    line-height: 1.7;
    margin-bottom: 20px;
    color: #444;
}

/* Section Headings */
.about-text h3 {
    margin-top: 30px;
    margin-bottom: 10px;
    color: #222;
}

.about-text h4 {
    margin-top: 15px;
    color: #444;
}

/* Lists */
.about-text ul {
    margin-left: 20px;
    margin-bottom: 10px;
}

.about-text ul li {
    margin-bottom: 6px;
}

/* Projects */
.project {
    background: #f9f9f9;
    padding: 15px;
    margin-top: 15px;
    border-radius: 6px;
    border: 1px solid #e0e0e0;
}

.project h4 {
    margin-bottom: 6px;
    color: #333;
}

.project p {
    font-size: 15px;
    color: #555;
}

/* Responsive */
@media (max-width: 800px) {
    .about {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .about img {
        width: 200px;
    }

    .about-text ul {
        text-align: left;
    }
}


/* Education */
.education {
    padding: 60px;
}

.edu-box {
    background: white;
    padding: 20px;
    margin: 15px 0;
    border-radius: 8px;
}

/* Contact */
.contact {
    text-align: center;
    padding: 80px;
}
/* Footer */
footer {
    background: #111;
    color: white;
    text-align: center;
    margin-top: auto;
    padding: 15px;
}


.social a {
    color: white;
    margin: 0 10px;
}
