* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

/* HERO */
.hero {
    background: #0f172a;
    color: white;
    height: 100vh;
    padding: 30px 8%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
}

.nav-btn {
    background: #2563eb;
    padding: 8px 20px;
    color: white;
    text-decoration: none;
    border-radius: 20px;
}

.hero-text {
    margin-top: 120px;
    max-width: 500px;
}

.hero-text h1 {
    font-size: 42px;
    margin-bottom: 15px;
}

.hero-text p {
    font-size: 18px;
    margin-bottom: 25px;
    color: #cbd5f5;
}

.hero-buttons {
    display: flex;
    gap: 15px;
}

.btn {
    padding: 12px 28px;
    text-decoration: none;
    border-radius: 25px;
    font-weight: bold;
}

.primary {
    background: #2563eb;
    color: white;
}

.secondary {
    border: 2px solid white;
    color: white;
}

/* FEATURES */
.features {
    padding: 70px 8%;
    text-align: center;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
    margin-top: 40px;
}

.card {
    background: #f8fafc;
    padding: 30px;
    width: 260px;
    border-radius: 12px;
}

/* BENEFITS */
.benefits {
    background: #f1f5f9;
    padding: 70px 8%;
}

.benefit-text {
    max-width: 500px;
}

.benefit-text ul {
    margin-top: 20px;
    list-style: none;
}

.benefit-text li {
    margin-bottom: 10px;
}

/* TESTIMONIALS */
.testimonials {
    padding: 70px 8%;
    text-align: center;
    background: #f8fafc;
}

/* CTA */
.cta {
    background: #2563eb;
    color: white;
    text-align: center;
    padding: 70px 8%;
}

.cta p {
    margin: 15px 0 25px;
}
.btn.primary{
    color:#0f172a;
    background:white;
}