* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: #f4f8fc;
}

/* ===== Topbar ===== */
.topbar {
  height: 60px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 25px;
  border-bottom: 1px solid #e5e7eb;
}

.logo {
  font-size: 20px;
  font-weight: bold;
}

.plus {
  color: red;
  font-size: 22px;
}

.search{
  width: 300px;
  padding: 8px 12px;
  border-radius: 8px;
  border: 1px solid #ddd;
  display: flex;
align-items: center;
justify-content: space-between;

}
#search-btn {
  padding: 8px 16px;
  margin-left: 10px;
  border: none;
  background: #0284c7;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}
.profile {
  display: flex;
  align-items: center;
  gap: 10px;
}

.profile img {
  border-radius: 50%;
}

/* ===== Layout ===== */
.layout {
  display: grid;
  grid-template-columns: 220px 1fr;
  min-height: calc(100vh - 60px);
}

/* ===== Sidebar ===== */
.sidebar {
  background: white;
  padding: 20px;
  border-right: 1px solid #e5e7eb;

  display: flex;
  flex-direction: column;
}

.sidebar a {
  display: block;
  padding: 12px;
  margin-bottom: 10px;
  text-decoration: none;
  color: #444;
  border-radius: 8px;
}
.menu {
  flex: 1;   /* takes remaining height */
}

.settings {
  margin-top: auto;
  padding: 12px;
  border-radius: 8px;
  color: #444;
}

.settings:hover {
  background: #e0f2fe;
  color: #0284c7;
}
.sidebar .active,
.sidebar a:hover {
  background: #e0f2fe;
  color: #0284c7;
}

.settings {
  margin-top: 100px;
  margin-bottom:20px;
}

/* ===== Main ===== */
.content {
  padding: 25px;
}

/* Patient */
.patient-card {
  display: flex;
  gap: 15px;
  background: white;
  padding: 20px;
  border-radius: 12px;
  margin-bottom: 20px;
}

.patient-card img {
  border-radius: 50%;
}

/* Vitals */
.vitals {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-bottom: 25px;
}

.vital {
  background: white;
  padding: 20px;
  border-radius: 12px;
}

.vital p {
  font-size: 24px;
  margin: 10px 0;
}

/* Grid Boxes */
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.box {
  background: white;
  padding: 20px;
  border-radius: 12px;
}

.box ul {
  margin-top: 10px;
}

.box li {
  margin-bottom: 8px;
}

/* Responsive */
@media(max-width: 900px) {
  .vitals, .grid {
    grid-template-columns: 1fr;
  }

  .topbar input {
    display: none;
  }
}
/* ===== Footer ===== */
.footer {
  grid-column: 1 / -1;   /* spans sidebar + main */
  height: 50px;
  background: white;
  border-top: 1px solid #e5e7eb;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 25px;
}

.footer-left {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  color: #555;
}

.footer-right a {
  margin-left: 15px;
  font-size: 14px;
  color: #555;
  text-decoration: none;
}

.footer-right a:hover {
  color: #0284c7;
}

/* Mobile */
@media(max-width: 700px) {
  .footer {
    flex-direction: column;
    height: auto;
    padding: 10px;
    gap: 5px;
  }
}